body {
      background-color: black; 
      color: white; 
      font-family: Verdana, Arial, Tahoma, Serif; 
      padding:15px; 
      line-height:1.4em;
    
      }
      
img {
  border-radius: 8px;
}